<section class="hero is-purple">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navMenu" [ngClass]="{ 'is-active' : toggleNavBar() }" (click)="isNavBar = !isNavBar">
          <span></span>
          <span></span>
          <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu" [ngClass]="{ 'is-active' : toggleNavBar() }" (click)="isNavBar = !isNavBar">
          <div class="navbar-end">
            <a class="navbar-item" [routerLink]="['/home']" [routerLinkActive]="['is-active']">
              Home
            </a>
            <a class="navbar-item" [routerLink]="['/profile']" *ngIf="appService.isLoggedIn" [routerLinkActive]="['is-active']">
              Profile
            </a>
            <a class="navbar-item" (click)="logout()" *ngIf="appService.isLoggedIn" [routerLinkActive]="['is-active']">
              Logout
            </a>
            <a class="navbar-item" (click)="login()" *ngIf="!appService.isLoggedIn" [routerLinkActive]="['is-active']">
              <span class="icon"><i class="fa fa-twitter"></i></span>
              <span>Sign in with Twitter</span>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Plans tonight?
      </h1>
      <h2 class="subtitle">
        fcc-nightlife-app
      </h2>
      <h2 class="subtitle">
        <p>Source available at client/app/app.component.html to get started</p>
        <p>by <a href="https://github.com/amimaro" target="_blank">Amimaro</a></p>
      </h2>
    </div>
  </div>
  <div class="hero-footer container" style="padding-bottom: 20px">
    <input [(ngModel)]="searchInput" (input)="typing()" class="input is-large" type="text" placeholder="Where you at?" autofocus>
  </div>
</section>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>fcc-nightlife-app</strong>. The source code is licensed MIT.
      </p>
    </div>
  </div>
</footer>
