<div class="has-text-centered" style="height: 300px; padding-top: 150px" *ngIf="appService.message.length > 0">
  <h1 class="title">{{appService.message}}</h1>
</div>
<br>
<div class="box" *ngFor="let location of appService.locations">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="{{location.image_url}}" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><a href="{{location.url}}" target="_blank">{{location.name}}</a></strong>
          <br>Phone: {{location.phone}}
          <br>Rating: <span [innerHTML]="getStars(location.rating)"></span> {{location.review_count}} Reviews
        </p>
      </div>
    </div>
    <div class="media-right">
      <p *ngIf="!appService.isLoggedIn">{{ location.visitors }} Visitors tonight</p>
      <a class="button is-large" *ngIf="appService.isLoggedIn" (click)="going(location.id)">{{ location.visitors }} Going</a>
      <a href="{{location.url}}" target="_blank">
        <figure class="image is-64x64" style="margin-top: 20px; margin-left: 10px">
          <img src="assets/yelp.png" alt="Image">
        </figure>
      </a>
    </div>
  </article>
</div>
